.type-1 .xzoom-source img,
.type-1 .xzoom-preview img {
  display: block;
  max-width: none;
  max-height: none;
}
.type-1 .xzoom-container {
  display: inline-block;
}
.type-1 .xzoom-thumbs {
  text-align: center;
  margin-bottom: 10px;
}
.type-1 .xzoom {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  margin-bottom: 15px;
}
.type-1 .xzoom-gallery {
  border: 1px solid #cecece;
  margin-left: 5px;
  margin-bottom: 10px;
}
.type-1 .xzoom-preview {
  border: 1px solid #888;
  background: #2f4f4f;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
.type-1 .xactive {
  -webkit-box-shadow: 0px 0px 3px 0px #4aa9d2;
  -moz-box-shadow: 0px 0px 3px 0px #4aa9d2;
  box-shadow: 0px 0px 3px 0px #4aa9d2;
  border: 1px solid #4aaad2;
}
