.type-1 {
  padding-top: 50px;
}
.type-1 .img_page img {
  width: 100% !important;
}
.type-1 .swiper-slide {
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  cursor: pointer;
}
.type-1 .swiper-slide:hover {
  border-color: #e77600;
  box-shadow: 0 0 3px 2px rgba(228,121,17,0.5);
}
.type-1 .active {
  border-color: #e77600;
  box-shadow: 0 0 3px 2px rgba(228,121,17,0.5);
}
.type-1 #swiper-vertical,
.type-1 #swiper-vertical-2 {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 15%;
  height: 260px;
  float: left;
}
.type-1 #swiper-vertical .swiper-slide,
.type-1 #swiper-vertical-2 .swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  position: relative;
  text-align: center;
  font-size: 18px;
  margin: 0 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.type-1 #swiper-vertical .swiper-slide img,
.type-1 #swiper-vertical-2 .swiper-slide img {
  height: 100%;
}
.type-1 #swiper-vertical .swiper-wrapper,
.type-1 #swiper-vertical-2 .swiper-wrapper {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.type-1 #swiper-vertical .swiper-button-next-1,
.type-1 #swiper-vertical .swiper-button-prev-1,
.type-1 #swiper-vertical .swiper-button-next-2,
.type-1 #swiper-vertical .swiper-button-prev-2,
.type-1 #swiper-vertical-2 .swiper-button-next-1,
.type-1 #swiper-vertical-2 .swiper-button-prev-1,
.type-1 #swiper-vertical-2 .swiper-button-next-2,
.type-1 #swiper-vertical-2 .swiper-button-prev-2 {
  position: absolute;
  text-align: center;
  width: 20px;
  color: #cccccc;
  width: 100%;
  z-index: 100000000;
  cursor: pointer;
  -moz-background-size: 27px 44px;
  -webkit-background-size: 27px 44px;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
}
.type-1 #swiper-vertical .swiper-button-next-1 i,
.type-1 #swiper-vertical .swiper-button-prev-1 i,
.type-1 #swiper-vertical .swiper-button-next-2 i,
.type-1 #swiper-vertical .swiper-button-prev-2 i,
.type-1 #swiper-vertical-2 .swiper-button-next-1 i,
.type-1 #swiper-vertical-2 .swiper-button-prev-1 i,
.type-1 #swiper-vertical-2 .swiper-button-next-2 i,
.type-1 #swiper-vertical-2 .swiper-button-prev-2 i {
  font-weight: bold;
  font-size: 18px;
}
.type-1 #swiper-vertical .swiper-button-disabled,
.type-1 #swiper-vertical-2 .swiper-button-disabled {
  opacity: 0.2;
  cursor: auto;
  pointer-events: none;
}
.type-1 #swiper-vertical .swiper-button-next-1,
.type-1 #swiper-vertical .swiper-button-next-2,
.type-1 #swiper-vertical-2 .swiper-button-next-1,
.type-1 #swiper-vertical-2 .swiper-button-next-2 {
  background: linear-gradient(to bottom,rgba(0,0,0,0.0007) 0,rgba(0,0,0,0.5) 100%);
  left: auto;
  bottom: 0;
  transition: right 0.5s;
}
.type-1 #swiper-vertical .swiper-button-prev-1,
.type-1 #swiper-vertical .swiper-button-prev-2,
.type-1 #swiper-vertical-2 .swiper-button-prev-1,
.type-1 #swiper-vertical-2 .swiper-button-prev-2 {
  background: linear-gradient(to bottom,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.0007) 100%);
  top: 0;
  right: auto;
  transition: left 0.5s;
}
.type-1 #swiper-horizontal,
.type-1 #swiper-horizontal-2 {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
  height: 10%;
  margin-top: 10px;
}
.type-1 #swiper-horizontal .swiper-slide,
.type-1 #swiper-horizontal-2 .swiper-slide {
  text-align: center;
  font-size: 18px;
  flex-shrink: 0;
  position: relative;
  margin: 2px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.type-1 #swiper-horizontal .swiper-slide img,
.type-1 #swiper-horizontal-2 .swiper-slide img {
  height: 100%;
}
.type-1 #swiper-horizontal .swiper-wrapper,
.type-1 #swiper-horizontal-2 .swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  box-sizing: content-box;
}
.type-1 #swiper-horizontal .swiper-button-next-3,
.type-1 #swiper-horizontal .swiper-button-prev-3,
.type-1 #swiper-horizontal .swiper-button-next-4,
.type-1 #swiper-horizontal .swiper-button-prev-4,
.type-1 #swiper-horizontal-2 .swiper-button-next-3,
.type-1 #swiper-horizontal-2 .swiper-button-prev-3,
.type-1 #swiper-horizontal-2 .swiper-button-next-4,
.type-1 #swiper-horizontal-2 .swiper-button-prev-4 {
  position: absolute;
  top: 0%;
  width: 20px;
  color: #cccccc;
  height: 100%;
  vertical-align: middle;
  z-index: 10;
  cursor: pointer;
  -moz-background-size: 27px 44px;
  -webkit-background-size: 27px 44px;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
}
.type-1 #swiper-horizontal .swiper-button-next-3 i,
.type-1 #swiper-horizontal .swiper-button-prev-3 i,
.type-1 #swiper-horizontal .swiper-button-next-4 i,
.type-1 #swiper-horizontal .swiper-button-prev-4 i,
.type-1 #swiper-horizontal-2 .swiper-button-next-3 i,
.type-1 #swiper-horizontal-2 .swiper-button-prev-3 i,
.type-1 #swiper-horizontal-2 .swiper-button-next-4 i,
.type-1 #swiper-horizontal-2 .swiper-button-prev-4 i {
  position: absolute;
  top: 40%;
}
.type-1 #swiper-horizontal .swiper-button-disabled,
.type-1 #swiper-horizontal-2 .swiper-button-disabled {
  opacity: .35;
  cursor: auto;
  pointer-events: none;
}
.type-1 #swiper-horizontal .swiper-button-next-3,
.type-1 #swiper-horizontal .swiper-button-next-4,
.type-1 #swiper-horizontal-2 .swiper-button-next-3,
.type-1 #swiper-horizontal-2 .swiper-button-next-4 {
  background: linear-gradient(to right,rgba(0,0,0,0.0007) 0,rgba(0,0,0,0.5) 100%);
  right: 0;
  left: auto;
  transition: right 0.5s;
}
.type-1 #swiper-horizontal .swiper-button-next-3 i,
.type-1 #swiper-horizontal .swiper-button-next-4 i,
.type-1 #swiper-horizontal-2 .swiper-button-next-3 i,
.type-1 #swiper-horizontal-2 .swiper-button-next-4 i {
  right: 0;
}
.type-1 #swiper-horizontal .swiper-button-prev-3,
.type-1 #swiper-horizontal .swiper-button-prev-4,
.type-1 #swiper-horizontal-2 .swiper-button-prev-3,
.type-1 #swiper-horizontal-2 .swiper-button-prev-4 {
  background: linear-gradient(to right,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.0007) 100%);
  right: auto;
  transition: left 0.5s;
}
.type-1 #dialog-form .zoom {
  display: inline-block;
  position: relative;
}
.type-1 #dialog-form .zoom:after {
  content: '';
  display: block;
  width: 33px;
  height: 33px;
  position: absolute;
  top: 0;
  right: 0;
}
.type-1 #dialog-form .zoom img {
  display: block;
}
@media (min-width: 992px) {
  .type-1 #swiper-vertical {
    display: block;
  }
  .type-1 #swiper-horizontal {
    display: none;
  }
  .type-1 .img_page {
    width: 82%;
    float: right;
  }
  .type-1 img {
    width: 100%;
  }
  .type-1 #dialog-form #swiper-horizontal-2 {
    display: none;
  }
}
@media (max-width: 991px) {
  .type-1 #swiper-vertical {
    display: none;
  }
  .type-1 #swiper-horizontal {
    display: block;
  }
  .type-1 #dialog-form #swiper-vertical-2 {
    display: none;
  }
}
@media (max-width: 768px) and (min-width: 480px) {
  .type-1 #swiper-horizontal {
    height: 15% !important;
  }
}
